<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>***REMOVED***</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959712818464-m47fvrkih0aj9m2v9mkj2ijmukg3ndor</string>
	<key>API_KEY</key>
	<string>***REMOVED***</string>
	<key>GCM_SENDER_ID</key>
	<string>959712818464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nucleus</string>
	<key>PROJECT_ID</key>
	<string>nucleus-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>nucleus-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959712818464:ios:936a8fa84684b4cb</string>
	<key>DATABASE_URL</key>
	<string>https://nucleus-2018.firebaseio.com</string>
</dict>
</plist>